{% extends 'index.html' %}

{% block body %}
  <caption>Targeta de Contacto</caption>
  <table border="2">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Telefono</th>
        <th>Email</th>
        <th>Eliminar</th>
        <th>Modificar</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ contact.name }}</td>
        <td>{{ contact.phone }}</td>
        <td>{{ contact.email }}</td>
        <td>
          <form action="/delete" method="post">
            <input type="hidden" name="uid" value="{{ contact.key.id() }}">
            <button type="submit">Eliminar</button>
          </form>
        </td>
      </tr>
    </tbody>
  </table>
  <p>
    <a href="/">Regresar</a>
  </p>
{% endblock %}